@model IEnumerable<Red_wolf_project.Models.Note>

@{
    ViewBag.Title = "Index";
}

<h1>Notes</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">    
    @foreach (var item in Model)
    {
        <div class="col-md-12">
            <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
            <p>@Html.DisplayFor(modelItem => item.NoteBody)</p>
            <p>@Html.ActionLink("Edit", "Edit", new { id = item.NoteId }) | @Html.ActionLink("Details", "Details", new { id = item.NoteId }) | @Html.ActionLink("Delete", "Delete", new { id = item.NoteId })</p>
        </div>
    }
</div>
